.idea
.vscode
_deps
.DS_Store

# Build environment
src/*
!src/picoboot.c
!src/picoboot.pio
CMakeFiles/
elf2uf2/
generated/
pico-sdk/
pioasm/
cmake_install.cmake_install
CMakeCache.txt
Makefile
picoboot.pio.h