.idea
.vscode
_deps
.DS_Store

# Build environment
CMakeFiles/
elf2uf2/
generated/
pico-sdk/
pioasm/
cmake_install.cmake
CMakeCache.txt
Makefile
picoboot.bin
picoboot.dis
picoboot.elf
picoboot.elf.map
picoboot.hex
*.uf2
picoboot.pio.h
